body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}
root{
  --Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);



--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black : hsl(0, 0%, 0%);

}

nav{
  margin: 0px 10%;
  border-bottom: 1px solid rgb(192, 192, 204);
  padding: 0px 10px;
  padding-bottom: 10px;
background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  
}

nav .one{
max-width: 50%;  
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .two{
  display: flex;
  align-items: center;
  /*border: 1px solid green;*/
  justify-content: space-between;
  width: 10%;
}

.two .profile{
  width: 60px;
  height: 60px; 
}



ul{
  display: flex;
  
  width: 75%;
  justify-content: space-between;
  border-bottom: var(--Dark-grayish-blue);


}

ul li{
  list-style: none;
  
}
li a{
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown-toggle {
  cursor: pointer;
}
.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.summary {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.rad {
  background: rgb(255, 79, 15);
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}
.rad:hover {
  background: #218838;

}